$link-color: #009d78;

// .side-bar > a {
//     color: #fff;
// }

.float-left {
    float: left;
    margin-right: 20px;
}

.h2-date {
    color: #aaa;
    font-size: 0.8em;
}

// .side-bar {
//     background-color: #ee7637 !important;
// }