
// .side-bar > a {
//     color: #fff;
// }



$mion-green: #009d78;
$mion-orange: #ee7637;

$mion-green-accessible: #008d5f;
$mion-orange-accessible: #c25700;

$link-color: #008550; // $mion-green-accessible;


// .side-bar {
//     background-color: #ee7637 !important;
// }

/* exo-2-regular - latin */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/exo-2-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/exo-2-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/exo-2-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/exo-2-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/exo-2-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/exo-2-v9-latin-regular.svg#Exo2') format('svg'); /* Legacy iOS */
  }

h1, h2, h3 {
    font-family:  'Exo 2';
}

h2, h3 {
    color: $mion-orange-accessible !important;
}

/* Accessibility Overrides */


.highlight .nt {
    color: #0076b8 !important;
}


.highlight .nb {
    color: #8f6c00 !important;
}


div.side-bar a {
    color: #008040; // !important;
}


footer.site-footer {
    color: #737074; // !important;
}


footer.site-footer a {
    color: #00834c; // !important;
}

/* 
   https://cloudfour.com/thinks/see-no-evil-hidden-content-and-accessibility/
   https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
*/
.visually-hidden:not(:focus):not(:active) {
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}


.float-left {
    float: left;
    margin-right: 20px;
}


.h2-date {
    color: #aaa;
    font-size: 0.8em;
}

.btn > a {
    color: #00834d !important;
}
